---
- name: MAIN | Deploying subtasks
  hosts: all
  remote_user: root

  vars:
    install_packages:
    - libselinux-python
    - nmap
    - nano
    - ntp
    - screen
    - sysstat

  tasks:
    - include: plays/motd_customize.yaml

    - include: plays/package_install.yaml

    - include: plays/users.yaml

    - include: plays/satellite-reg.yaml

## If this is a RHEL6 machine
    - name: Remove the service the kickstart laid down for RHEL6
      file: path=/etc/rc.d/rc3.d/S99ansible-firstboot state=absent
      ignore_errors: yes

## If this is a RHEL7 machine
    - name: Remove the service the kickstart laid down for RHEL7
      file: path=/usr/lib/systemd/system/ansible-firstboot.service state=absent
      ignore_errors: yes

    - name: reboot host
      command: /usr/bin/systemd-run --on-active=10 /usr/bin/systemctl reboot
      async: 0
      poll: 0
      when: rebootrequired is defined and rebootrequired == 'yes'

    - name: wait for host sshd
      local_action: wait_for host="{{ inventory_hostname }}" search_regex=OpenSSH port=22 timeout=300 delay=30
      when: rebootrequired is defined and rebootrequired == 'yes'



